<% include partials/header %>

<div class="ui main text container">

    <div class="ui huge header"><i class="icon code"></i>Blog-App</div>
    <div class="ui header">~ A simple Blog-web App </div>

    <div class="ui top attached segment">

        <div class="ui divided items">
            <div class="item">
                <div class="ui huge header center"><i class="tiny add user icon"></i>Create an Account</div>
            </div>
            <form class="ui form" action="/register" method="POST">
                <div class="field">
                    <label>Username</label>
                    <input type="text" name="username" placeholder="Username" required>
                </div>
                <div class="field">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="Password" required>
                </div>

                <input class="ui primary button" type="submit">
            </form>
        </div>
     </div>
</div>

<% include partials/footer %>
