<% include partials/header %>

<div class="ui main text container">

    <div class="ui huge header"><i class="icon code"></i>Blog-website</div>
    <div class="ui header">Lets's Blog </div>

    <img class="img" src="https://ucarecdn.com/dc362b0a-34e8-454c-a370-133fd3b83a45/"/>
